In [3]:
import pandas as pd

In [26]:
se=pd.Series(['python','java','html'],index=['a','b','c'])
se

a    python
b      java
c      html
dtype: object

In [18]:
s1 = pd.Series([10,'python',20.25],index=['a','b','c'])
s1

a        10
b    python
c     20.25
dtype: object

In [44]:
src=['a','b',1,2,3]
src1=pd.Series(src)
print(src1)

0    a
1    b
2    1
3    2
4    3
dtype: object

In [64]:
abc=['a',True,False,1,2]
abc1=pd.Series(abc)
print(abc1)

0        a
1     True
2    False
3        1
4        2
dtype: object

In [66]:
df=pd.Series([1,2,3,44,5,6])
df

0     1
1     2
2     3
3    44
4     5
5     6
dtype: int64

In [116]:
pd={'X':[22,33,44,66,77,88],'Y':[22,44,5,5,6,7],'Z':[1,3,4,5,6,7,88,9]}
pd1=pd.DataFrame(pd)
print(pd1)

AttributeError: 'dict' object has no attribute 'DataFrame'

In [108]:
pd_dict = {"Name": ["JOhn","Cataline","Matt"], "Age": [50,45,30],"City": ["austin","Francisco","Boston"],"Marks": [70,80,95]}
pd1 = pd.DataFrame(pd_dict)
print(pd1)

       Name  Age       City  Marks
0      JOhn   50     austin     70
1  Cataline   45  Francisco     80
2      Matt   30     Boston     95

In [88]:
import pandas as pd

pd_dict = {"Name": ["John", "Cataline", "Matt"],
           "Age": [50, 45, 30],
           "City": ["Austin", "San Francisco", "Boston"],
           "Marks": [70, 80, 95]}

pd1 = pd.DataFrame(pd_dict)
print(pd1)

       Name  Age           City  Marks
0      John   50         Austin     70
1  Cataline   45  San Francisco     80
2      Matt   30         Boston     95

In [2]:
import pandas as pd
list={
    "Name":["john","Cataline","Matt"],
    "Name":["john","Cataline","Matt"],
}
list1=pd.DataFrame(list)
print(list1)

       Name
0      john
1  Cataline
2      Matt

In [7]:
import pandas as pd
calories={"day1":420,"day2":280}
myvar=pd.Series(calories, index=["day1","day2"])
print(myvar)

day1    420
day2    280
dtype: int64

In [15]:
import pandas as pd
calories={"day1":420,"day2":280}
myvar=pd.Series(calories)
print(myvar)
print(df.loc[[0,1]])

day1    420
day2    280
dtype: int64

NameError: name 'df' is not defined

In [37]:
data={
    "calories"=:[122,344,555],
    "duration"=:[102,340,585],
}
df=pd.DataFrame(data,index=["day1","day2","day3"])
print(df)

SyntaxError: invalid syntax (1895942059.py, line 2)

In [17]:
#np.abs __> to convert no in positive 
#np.round __. giives round values
# matrix=np.arange(2,11).reshape(3,3)
# print("3*3 Matrix:\n",matrix)
#pd.series
b=([1,2,3,4,55,])
a=np.Series(b)
print(a)
#pd.series can convert frome list of element to series of element

NameError: name 'np' is not defined