Q.Demonstrate the following techniques for a given dataset.Wrte a python programe to compute 
a)a)Handeling the missing values in datasets.
b)FIlling missing values with mean
c)Feature Normilazation: Min-Max normalization on ires data

In [4]:
import pandas as pd
import numpy as np

# Step 1: Create the DataFrame
Fee_Status = pd.DataFrame({
    'ID': ['34', '64', '55', 'pending', '57', '66'],
    'Fee': [50000, 10000, np.nan, 5500, 7600, np.nan]
})

# Step 2: Handle missing values (this step is implicit in the next step)
# Step 3: Fill missing values with mean
mean_fee = Fee_Status['Fee'].mean()
Fee_Status['Fee'].fillna(mean_fee, inplace=True)

# Step 4: Min-Max Normalization
Fee_Status['Fee_Normalized'] = (Fee_Status['Fee'] - Fee_Status['Fee'].min()) / (Fee_Status['Fee'].max() - Fee_Status['Fee'].min())

Fee_Status

        ID      Fee  Fee_Normalized
0       34  50000.0        1.000000
1       64  10000.0        0.101124
2       55  18275.0        0.287079
3  pending   5500.0        0.000000
4       57   7600.0        0.047191
5       66  18275.0        0.287079

In [33]:
#b)
import pandas as pd
import numpy as np

a={'A1':[10,20,30,40],
  'A2':[25,np.nan,np.nan,29],
  'A3':[21,22,23,np.nan]}
df=pd.DataFrame(a)
print(df)

   A1    A2    A3
0  10  25.0  21.0
1  20   NaN  22.0
2  30   NaN  23.0
3  40  29.0   NaN

In [37]:
null_value=df.isnull()
null_value
null_count=df.isnull().sum()
null_count

A1    0
A2    2
A3    1
dtype: int64

In [23]:
df.fillna(df.mean(), inplace=True)

print(df)

   A1    A2    A3
0  10  25.0  21.0
1  20  27.0  22.0
2  30  27.0  23.0
3  40  29.0  22.0

In [21]:
df['A2'].fillna(df['A2'].mean(), inplace=True)
df

   A1    A2    A3
0  10  25.0  21.0
1  20  27.0  22.0
2  30  27.0  23.0
3  40  29.0   NaN

In [29]:
mean_value=df['A3'].mean()
df['A3'].fillna(value=mean_value, inplace = True)
print('Updated dataFrame:')
print(df)

Updated dataFrame:
   A1    A2    A3
0  10  25.0  21.0
1  20  27.0  22.0
2  30  27.0  23.0
3  40  29.0  22.0

In [51]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.datasets import load_iris
iris = load_iris()
data=iris.data
columns=iris.feature_names
df=pd.DataFrame(data, columns=columns)
print("original Dataset:")
print(df.head())
scaler=MinMaxScaler()  
print(scaler)
normalized_data=scaler.fit_transform(df)
df_normalized = pd.DataFrame(normalized_data, columns=columns)
print("\nNormalized Dataset:")
print(df_normalized.head())

original Dataset:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
MinMaxScaler()

Normalized Dataset:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

In [53]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [47]:
#TO find Outliers
import numpy as np
data=[10,12,14,11,13,100,12,15,14,1,]
mean=np.mean(data)
std_dev=np.std(data)
threshold = 2
outliers = [x for x in data if (x-mean)/std_dev>threshold]
print("Outliers:", outliers)

Outliers: [100]

In [35]:
# TO Drop Outlier
import numpy as np
data=[10,12,14,11,13,100,12,15,14,11]
mean=np.mean(data)
std_dev=np.std(data)
threshold = 2
Filtered_data = [x for x in data if abs((x-mean)/std_dev)<=threshold]
print("Data without outliers:", Filtered_data)

Data without outliers: [10, 12, 14, 11, 13, 12, 15, 14, 11]

In [1]:
import numpy as np

data = [10, 12, 14, 11, 13, 100, 12, 15, 14, 1, 300, 400]


Q1 = np.percentile(data, 25)
Q3 = np.percentile(data, 75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR  #1.5 is the sensitivity(u can keep either 1,2,3 but kep it 1.5)
upper_bound = Q3 + 1.5 * IQR

outliers = [x for x in data if x <= lower_bound or x >= upper_bound]
print("Outliers:", outliers)

Outliers: [100, 300, 400]

In [2]:
import pandas as pd 
data = {'A':[10,12,14,15,18,19,20,30,35,100]} 
df = pd.DataFrame(data)
Q1=df['A'].quantile(0.25)
Q3=df['A'].quantile(0.75)
IQR=Q3-Q1
lower_bound=Q1-1.5*IQR
upper_bound=Q3+1.5*IQR
df=df[(df['A']>=lower_bound)&(df['A']<=upper_bound)] #inclusive range

    A
0  10
1  12
2  14
3  15
4  18
5  19
6  20
7  30
8  35